# ------------------------
# R
# ------------------------
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rproj
.Rout
.Rapp.history

# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.ipynb_checkpoints
.env
.venv/
.envrc
.conda/

# ------------------------
# Shiny / RStudio
# ------------------------
shinyapps/
rsconnect/
*.RData
*.Rhistory
.Rproj.user/
.Rproj
.Rbuildignore

# ------------------------
# Outputs & temporary data
# ------------------------
*.xlsx
*.xls
*.csv
*.tmp
*.log
outputs/
*.bak
*.old
*.zip

# ------------------------
# OS & IDE files
# ------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
